<!DOCTYPE html>
<html lang="en">
<head>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">
    <title>Index</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Index</a>
    <form action="/logout"
          method="post">
        <div class="d-inline">
            <input class="btn btn-dark text-white"
                   type="submit"
                   value="Logout">
        </div>
    </form>
</nav>
</body>
</html>
